*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: maroon;
}
form {

    border-style: solid;
    border-color: lightgray;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

label {
    color: maroon;
    font-size: 20px;
    font-weight: bolder;
    
}
label:nth-of-type(1) {
    padding-right: 17px;
}

label:nth-of-type(2) {
    padding-right: 55px;
}

label:nth-of-type(3) {
    padding-right: 25px;
}

label:nth-of-type(4) {
    padding-right: 30px;
}

label:nth-of-type(5) {
    padding-right: 45px;
}
label:last-of-type {
    padding-right: 35px;
}
#name, #mail, #pass, #title, #mobile, #address {
    width: 250px;
    height: 35px;
    padding: 5px;
}

input[value='female'] {
    margin-left: 15px;
    
}
input[type='submit'] {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bolder;
    background-color: maroon;
    border-color: maroon;
    color: lightgray;
}
