* {
    font-size: 16px;
}
/* Difference between rem and em units:  */
/* em unit sets the font-size relative to the nearest parent or direct font-size */
.spanElem {
    font-size: 24px;
}
.spanElem p {
    font-size: .5em;
}

/* Em unit sets the font-size relative to the html font-size*/
#container p:first-of-type {
    font-size: 4rem;
}


/* 1- select p elements and make them red */
p {
    color: red;
}

/* 2- select p and div elements  */

p, div {
    border: 2px solid lightgray;
    box-shadow: 2px 2px 3px lightgray;
    padding: 5px;
}
/* 3- select p with class mainClass direct child for div with id myDiv and make it styled  */
#myDiv>.mainClass {

    color: darkgreen;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px;
    background-color: whitesmoke;

}
/* 4- select all p inside div and style them  */

div p {
    color: darkblue;
    font-style: italic;
    font-size: 20px;
    background-color: whitesmoke;
}
/* 5- select input with type text element with class myClass */
.myClass[type='text'] {
    background-color: whitesmoke;
    height: 30px;
    width: 200px;
    display: block;
    margin: 50px auto;
}
/* 6- select span elements after div  */
div~span {

    border: 4px solid teal;
    padding: 10px;
    margin: 20px;
    display: block;
}
/* 7- select p directly after div */
div+span {
    border: 5px dotted darkgreen;
    margin: 30px;
    display: block;
    width: 200px;
    

}
/* 8- make the div with id myDiv has a transparent background with one way  */
/* method using the pseudo elements */
#myDiv {
    width: 600px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    /* background-image: url('https://images.unsplash.com/photo-1512514076443-1eef59c260b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80'); */
}
#myDiv::after {
    content: '';
    background: url('https://images.unsplash.com/photo-1512514076443-1eef59c260b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80');
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: .5;
}

